# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

*                           @herdwatch/team-backend

/.dockerignore              @herdwatch/team-devops
/.editorconfig              @herdwatch/team-devops
/.github/                   @herdwatch/team-devops
/.local/                    @herdwatch/team-devops
/.ops/                      @herdwatch/team-devops
/sonar-project.properties   @herdwatch/team-devops

/.php-version               @herdwatch/team-devops
/docker-compose.*           @herdwatch/team-devops
/php.ini                    @herdwatch/team-devops

/skaffold.*                 @herdwatch/team-devops
/Dockerfile                 @herdwatch/team-devops
/Makefile                   @herdwatch/team-devops
